.view{
    min-height: calc(100% - 60px);
    background-color:grey;
    position: absolute;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-fluid {
    /* This is all to add the scroll to the table*/
    position:absolute;
    overflow-y: auto;  
    width: 95%;
    max-height: 95%;
    left: 0;
    right: 0;
    margin: auto;
}

.container-fluid, .row *:not(.cell) {
    border-style: solid;
    border-width: thin;
}

.table-headers{
    font-weight: bold;
    background-color:orange;
    position: sticky; 
    top: 0;
}

.results:nth-child(2n+3) {
    background-color:rgb(240,240,240);
}

.results:nth-child(2n+2) {
    background-color:white;
}