<div *ngIf="pdfSrc!==''" class="center">
    <button #Weeklystats class="Weeklystats" style="display: inline-block; width: 120px;" (click)="BackToStart()">
        Back
    </button>
    <div style="margin-left: 15px; height:85vh;width:97vw;">
        <pdf-viewer
            [src]="pdfSrc"
            [rotation]="0"
            [original-size]="false"
            [show-all]="true"
            [fit-to-page]="false"
            [zoom]="1"
            [zoom-scale]="'page-width'"
            [stick-to-page]="false"
            [render-text]="true"
            [external-link-target]="'blank'"
            [autoresize]="true"
            [show-borders]="false"
            class="pdf-viewer">
        </pdf-viewer>
    </div>
</div>
<!--  -->